$main-text: rgba(0, 0, 0, 0.87);
$second-text: rgba(0, 0, 0, 0.541327);
$border-color: rgba(0, 0, 0, 0.12);
$border-tool-color: #000;

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
